.gs_button_playerIcon {
  -fx-background-radius: 100;
  -fx-max-width: 68;
  -fx-max-height: 68;
  -fx-min-height: 68;
  -fx-min-width: 68;
  -fx-border-color: #000;
  -fx-border-radius: 100;
  -fx-translate-y: 0;
  -fx-translate-x: 0;
  -fx-border-width: 1px;
}

.gs_button_playerIcon_onTurn {
  -fx-background-radius: 100;
  -fx-max-width: 68;
  -fx-max-height: 68;
  -fx-min-height: 68;
  -fx-min-width: 68;
  -fx-border-radius: 100;
  -fx-border-color: #ffd763;
  -fx-border-width: 6px;
}

.gs_troops_in_country {
  -fx-text-fill: #000;
  -fx-font-size: 130%;
  -fx-min-width: 30px;
  -fx-min-height: 30px;
  -fx-max-width: 30px;
  -fx-max-height: 30px;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-border-width: 1px;
  -fx-border-color: black;
  -fx-alignment: center;
  -fx-padding: 0;
  -fx-background-color: transparent;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 5),
  translate(0, -3px),
  dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 10, 0, 0, 5),
  dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, -3);
}

.ls_buttons_normal {
  -fx-background-color: #ffd763;
  -fx-border-color: #ffd763;
  -fx-font-family: "Berlin Sans FB";
  -fx-min-height: 26;
  -fx-max-height: 26;
  -fx-min-width: 136;
  -fx-max-width: 136;
  -fx-font-size: 100%;
  -fx-background-radius: 12px;
  -fx-border-radius: 12px
}

.ls_buttons_normal:hover {
  -fx-background-color: linear-gradient(#D7BE4D, #D7BE4D);
  -fx-border-color: #D7BE4D;
}

.ls_buttons_normalV2:hover {
  -fx-background-color: linear-gradient(#926B35, #926B35);
  -fx-border-color: #926B35;
}

.ls_buttons_normalV3:hover {
  -fx-background-color: linear-gradient(#B5B086, #B5B086
  );
  -fx-border-color: #B5B086;
}

.ls_buttons_normalV2 {
  -fx-background-color: #d6aa4c;
  -fx-border-color: #d6aa4c;
  -fx-font-family: "Berlin Sans FB";
  -fx-min-height: 26;
  -fx-max-height: 26;
  -fx-min-width: 136;
  -fx-max-width: 136;
  -fx-font-size: 100%;
  -fx-background-radius: 12px;
  -fx-border-radius: 12px
}

.ls_buttons_normalV3 {
  -fx-background-color: #FFFACD;
  -fx-border-color: #FFFACD;
  -fx-font-family: "Berlin Sans FB";
  -fx-min-height: 26;
  -fx-max-height: 26;
  -fx-min-width: 136;
  -fx-max-width: 136;
  -fx-font-size: 100%;
  -fx-background-radius: 12px;
  -fx-border-radius: 12px
}

.ms_buttons_normal {
  -fx-border-color: #ffd763;
  -fx-background-color: #ffd763;
  -fx-font-family: "Berlin Sans FB";
  -fx-background-radius: 12px;
  -fx-border-radius: 12px;
  -fx-min-height: 50;
  -fx-max-height: 50;
  -fx-min-width: 300;
  -fx-max-width: 300;
  -fx-font-size: 150%;

}

.ms_buttons_normal:hover {
  -fx-background-color: linear-gradient(#D7BE4D, #D7BE4D);
  -fx-border-color: #D7BE4D;
}


.ms_headings {
  -fx-font-size: 500%;
  -fx-font-family: "Berlin Sans FB";
  -fx-text-alignment: center
}

.ms_copyright-text {
  -fx-font-family: "Berlin Sans FB";
  -fx-font-size: 125%;
}

.square_button {
  -fx-border-color: #ffd763;
  -fx-background-color: #ffd763;
  -fx-font-family: "Berlin Sans FB";
  -fx-background-radius: 12px;
  -fx-border-radius: 12px;
  -fx-min-height: 55;
  -fx-max-height: 55;
  -fx-min-width: 60;
  -fx-max-width: 60;
}

.square_button:hover {
  -fx-background-color: linear-gradient(#D7BE4D, #D7BE4D);
  -fx-border-color: #D7BE4D;
}

.table-view .column-header {
  -fx-background-color: #ffd763;
}

.toggle-button:disabled {
  -fx-background-color: rgba(128, 128, 128, 0.6);
}

.svgCountryAtStart {
  -fx-fill: white;
  -fx-stroke: black;
  -fx-stroke-width: 1;
}

.svgCountryAtStart:disabled {
  -fx-fill: lightgrey;
  -fx-stroke: black;
  -fx-stroke-width: 1;
}

.popup-alert .button {
  -fx-background-color: #1e6a9f;
  -fx-border-color: #1e6a9f;
  -fx-font-family: "Berlin Sans FB";
  -fx-min-height: 26;
  -fx-max-height: 26;
  -fx-min-width: 136;
  -fx-max-width: 136;
  -fx-font-size: 100%;
  -fx-background-radius: 12px;
  -fx-border-radius: 12px;
  -fx-text-fill: white;
}

.gs_button_big {
  -fx-border-color: #000;
  -fx-font-family: "Berlin Sans FB";
  -fx-background-radius: 100px;
  -fx-border-radius: 100px;
  -fx-border-radius: 100px;
  -fx-min-height: 150;
  -fx-max-height: 150;
  -fx-min-width: 150;
  -fx-max-width: 150;
}


